.inter {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
   
   
}
*{padding: 0;
margin: 0;} 
.text-primary {
    color:#4E47FF ;
    font-size: large;
    font-style: normal;
    font-size: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px  40px  208px  40px;


    
/* margin: 50px 20px ; */


 
}
.bg-image{
    background-image: url(Img/Hero-bg.png);
width: 100%;
 height:70vh ; 
}




.btn-primary{
    background-color:#4E47FF ;
    font-weight: bold;
    color: white;
    padding: 12px 38px ;
    border: none;
    border-radius: 5px;
    

}
.btn-primary:hover{
    background-color: #635efb ;
     font-weight: bolder;
     font-size: 16px;
    cursor: pointer;
     transition: background-color 0.3s, color 0.3s;




}

     
    
.banner-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;


}
/* action */
.action-part {
    margin:30px;

}
.paragrph{
    color: rgb(109, 109, 109);
    font-size: 15px;
}
.action-part{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 300px 0 300px ;

    
}
.action-part-image img{
    border: 5px;
border-radius: 50px;
    
}

/* card sector */

.card{
    border-radius: 10px;
    padding: 100px 80px;
    



}
.item-description{
    gap: 70px;
    text-align: center;
   color: rgb(128, 130, 132);

}
    


.card .section-title{
    text-align: center;
    
}
.user-items{
    display: flex;
    justify-content: center;
    
   
}







.section-title{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
         
.user-items {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: #e6e6fa;
            border-radius: 16px;
            padding: 32px 0;
            margin: 24px 0;
            
          
        }
        .user-item {
            text-align: center;
            flex: 1;
        }
        .item-title {
            font-size: 2.5rem;
            color:#4E47FF;
            font-weight: bold;
            margin-bottom: 8px;
        }
        .item-description {
            font-size: 1rem;
            color: #666;
        }
        .user-items::before,
        .user-items::after {
            display: block;
            width: 2px;
            height: 60px;
            background: #bdbdf7;
           
           
        }
        
        
        .reviews{
            text-align: center;
            font-weight: bolder;
            font-size: 25px;

        }
        .review-container{
            width: 1140px;
            margin:0px auto;

        }

     .review{
        
        width: 366px;
        height: 243px;
        padding: 20px 30px 0px ;
        border: none;
        border-radius: 14px;
        background-color:  rgba(226, 226, 226, 0.5);       


     }

    .card-spacing {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-bottom: 24px;
flex: auto;

    }


.focus{
    width: 1140px;
    text-align: center;
    margin: 137px auto 0px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    padding: 70px 0px;
}
.focus h1{
    font-weight: bold;
    font-size: 50px;
}
.focus p{
    color: rgba(0, 0, 0, 0.5);
}
.focus img{
    border-radius: 48px;
}
.focus button{
    width: 195px;
    font-size: 16px;
}


.Get-In-Touch{
    width: 1140px;
    display: flex;
    align-items: center;
    margin: 92px auto 0px;
    padding: 71px 0px;
}

.Get-In-Touch-right input,textarea{
    display: block;
    width: 497px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    resize: none;
}
.Get-In-Touch-right label{
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.Get-In-Touch-right input[type="submit"] {
    color: rgba(255, 255, 255, 1);
    height: 62px;
}

.Get-In-Touch h1{
    font-size: 97px;
    font-weight: bold;
}


    
